.list-btns {
    position: sticky;
    top: 0px;
    display: flex;
    div:nth-child(2) {
        flex: 1;
    }
    div:nth-child(3) {
        display: flex;
    }
}

// Listing Mobile

.list-container {
    margin-top: 32px;
    .list-card:first-child {
        margin-top: 0;
    }

    .list-card {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        border: 1px solid #cfd8dc;
        padding: 16px;
        margin: 16px 24px;
        cursor: pointer;
        .list-info {
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                margin: 0;
                font-size: 16px;
            }

            .list-sub-info {
                .category,
                .condition {
                    font-size: 12px;
                    color: gray;
                }
            }

            .distance {
                font-size: 10px;
                color: gray;
            }
        }

        .img {
            width: 88px;
            height: 88px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 4px;
            }
        }
    }
}

// .list-container{
//     background-color: burlywood;
//     border: 1px solid black;
//     border-radius: 8px;

//     .list-card{
//         display: flex;
//         flex-direction: row;
//         width: 342px;
//         height: 120px;
//     }

//     .img{
//         width: 88px;
//         height: 88px;

//         .dummy-pic{
//             width: 88px;
//             height: 88px;
//             background-color: cadetblue;
//             margin: 16px;
//         }
//     }
// }
