<div class="list-box">
    <div class="list-btns">
        <div class="viewBtn filter filterBtnDesktop" id="filterBtn">
            <h4>Filter</h4>
            <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 6 4"
                style="enable-background: new 0 0 6 4"
                xml:space="preserve"
            >
                <style type="text/css"></style>
                <path
                    class="st0"
                    d="M5.5,0.8c0-0.1-0.1-0.2-0.2-0.3S5.1,0.4,5,0.4H1.1c-0.1,0-0.2,0-0.3,0.1C0.6,0.6,0.5,0.7,0.5,0.8
                c0,0.1-0.1,0.2,0,0.4c0,0.1,0.1,0.2,0.2,0.3l2,1.9c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.2,0c0.1,0,0.2,0,0.2,0
                c0.1,0,0.1-0.1,0.2-0.1l1.9-1.9c0.1-0.1,0.1-0.2,0.2-0.3C5.6,1,5.6,0.9,5.5,0.8z"
                ></path>
            </svg>
        </div>
        <div></div>
        <div>
            <div id="mapBtn">
                <div class="viewBtn">
                    <h4>Map View</h4>
                </div>
            </div>
            <div id="listBtn">
                <div class="viewBtn viewBtnActive">
                    <h4>List View</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="list-container"></div>
    <script src="./js/list.js"></script>
</div>
