@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font: normal 400 12px/18px "Poppins", sans-serif;
  color: #263238;
}

h1 {
  font: normal 600 24px/28px "Poppins", sans-serif;
  color: #263238;
}

h2 {
  font: normal 600 20px/24px "Poppins", sans-serif;
  color: #263238;
}

h3 {
  font: normal 600 16px/20px "Poppins", sans-serif;
  color: #263238;
}

.menuLink {
  font: normal 400 16px/20px "Poppins", sans-serif;
  color: #263238;
}

h4, button {
  font: normal 600 12px/18px "Poppins", sans-serif;
  color: #263238;
}

input, select {
  color: #90A4AE;
  font: normal 400 12px/18px "Poppins", sans-serif;
  outline: none !important;
  height: 34px;
  border-radius: 8px;
  border: 1px solid #90A4AE;
  color: #90A4AE;
  padding-left: 8px;
  cursor: pointer;
  outline: none !important;
}

input:focus, select:focus {
  border: 1px solid #00BCD4;
}

label, textarea {
  font: normal 400 12px/18px "Poppins", sans-serif;
  color: #263238;
}

* {
  margin: 0 auto;
}

.logoTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  border-bottom: 1px solid #CFD8DC;
}

.logoTop img {
  width: 94px;
}

.homeImg {
  margin: 0 auto;
  background-image: url("https://res.cloudinary.com/scave2021/image/upload/v1635474174/scave/illustration_e7eoev.png");
  width: 342px;
  height: 237.31px;
  margin-top: 98px;
}

.title {
  width: 100%;
  height: 56px;
  text-align: center;
  margin-top: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #263238;
  line-height: 28px;
  font-style: normal;
}

.content {
  margin: 0 auto;
  width: 342px;
  height: 72px;
  text-align: center;
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #263238;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
}

.joinbtn {
  margin: 0 auto;
  margin-top: 32.69px;
  width: 342px;
  height: 34px;
  border-radius: 8px;
  background-color: #00BCD4;
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.signBtn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin {
  width: 73px;
  height: 34px;
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer {
  width: 100%;
  height: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #CFD8DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 116px;
}

.copyright {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #607D8B;
}
/*# sourceMappingURL=home.css.map */