#detailsView {
  max-width: 500px;
}

.item_details {
  margin: 24px;
}

.item_details .content-info h1 {
  font-size: 24px;
  margin: 0;
}

.item_details .content-info .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

.item_details .content-info .content-header .sub-info {
  margin-right: 16px;
  color: #455a64;
  font-size: 12px;
}

.item_details .content-info .hours {
  color: #607d8b;
  font-size: 10px;
}

.item_details .btn-area {
  margin-top: 16px;
  margin-bottom: 32px;
}

.item_details .btn-area .save {
  background-color: #00bcd4;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 8px;
}

.item_details .btn-area .collected {
  border: none;
  padding: 8px 16px;
  color: #263238;
  background-color: #ffffff;
}

.item_details .btn-area .save:hover {
  background-color: #006064;
  cursor: pointer;
}

.item_details .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.item_details .modal .modal-content {
  margin: 50% 24px;
  border-radius: 8px;
  overflow: hidden;
}

.item_details .modal .modal-content .modal-txtContent {
  margin: 24px 24px 0 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #cfd8dc;
}

.item_details .modal .modal-content .modal-txtContent .modalTitle {
  margin-bottom: 8px;
}

.item_details .modal .modal-content .modal-txtContent .modalText {
  font-weight: 400;
}

.item_details .modal .modal-content .modalBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_details .modal .modal-content .modalBtn .confirm {
  -webkit-column-rule-color: #aaaaaa;
          column-rule-color: #aaaaaa;
  padding: 8px 60px;
  font-weight: 600;
}

.item_details .modal .modal-content .modalBtn .cancel {
  -webkit-column-rule-color: #aaaaaa;
          column-rule-color: #aaaaaa;
  padding: 8px 60px;
  font-weight: 600;
}

.item_details .modal .modal-content .modalBtn .confirm:hover,
.item_details .modal .modal-content .modalBtn .confirm:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.item_details .description {
  border-bottom: 1px solid #cfd8dc;
}

.item_details .description p {
  line-height: 18px;
  padding-bottom: 32px;
}

.item_details .thumbnail {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 8px;
}

.item_details .thumbnail img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.item_details .imgs {
  max-width: 100%;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item_details .imgs .mySlides {
  width: 100%;
  height: auto;
}

.item_details .imgs .mySlides .opacity {
  opacity: 50%;
}

.item_details .imgs .mySlides .img {
  margin-right: 8px;
  cursor: pointer;
  width: 62px;
  height: 62px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
}

.item_details .imgs .mySlides .img:last-child {
  margin-right: 0px;
}

.item_details .map {
  margin-top: 32px;
  margin-bottom: 30px;
  width: 100%;
  height: 138px;
  background-color: green;
  border-radius: 4px;
}
/*# sourceMappingURL=item_details.css.map */