<script src="header.js" defer></script>

<div class="header">
    <div class="leftNav">
        <nav class="navIcon">
            <div onclick="openNav()" class="hamburgerMenu" id="hamburger1"></div>
            <div onclick="openNav()" class="hamburgerMenu"></div>
            <div onclick="openNav()" class="hamburgerMenu" id="hamburger3"></div>

            <div id="navItems" class="overlay">

                <!-- Button to close the overlay navigation -->
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                <div class="menuOverlay">
                    <a href="#">Home</a>
                    <a href="#">Account</a>
                    <a href="#">Saved Items</a>
                    <a href="#">Your Listings</a>
                    <a href="#">Log Out</a>
                </div>
            </div>
        </nav>
        <img id='mainLogo' src="https://res.cloudinary.com/scave2021/image/upload/v1635194721/scave/scaveLogo_he3m5p.svg" alt="Scave Logo">
    </div>

    <div class="rightNav">
        <img src="https://res.cloudinary.com/scave2021/image/upload/v1635194649/scave/search_bkk9ug.svg" alt="Search Icon" id="headerSearch">
        <div id="listItem">
            <p>List Item</p> 
            <img id="plus" src="https://res.cloudinary.com/scave2021/image/upload/v1635208469/scave/add_icon_white_strrzt.svg"></div>
        </div>
</div>
