<div id="item_details">
    <div class="content-info">
        <h1 id="itemDetailTitle">Mid century sideboard</h1>
        <div class="content-header">
            <div class="sub-info">
                <span id="itemDetailCategory" sdfsF class="category">Home Goods</span>
                <span>.</span>
                <span id="itemDetailCondition" class="condition">Line New</span>
            </div>
            <span id="itemDetailPostDate" class="hours">Listed 2hours ago</span>
        </div>
    </div>

    <div class="btn-area">
        <button class="save">Save for later</button>
        <button class="collected">Mark as collected</button>
    </div>

    <div class="goods-listing">
        <div class="thumbnail">
            <img id="featuredImg" src="" alt="" />
        </div>
        <div class="imgs">
            <div class="mySlides" id="mySlides"></div>
        </div>

        <div class="description">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit,
                natus, nobis repudiandae, adipisci molestiae aliquid impedit
                iure corrupti excepturi ab consectetur quibusdam! Saepe
                perferendis fuga, quas velit nulla facere sit doloremque! Quis
                quidem omnis accusamus error, fugiat repellat voluptatibus!
                Ducimus.
            </p>
        </div>
    </div>

    <div class="map" id=smallMap></div>

    <script src="./js/item_details.js"></script>
    <!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9kUNFLXOEwSFaH5JedhaGV1MMKXxB50o&callback=detailMap"></script> -->
</div>
