.item_details {
    margin: 24px;
    h1 {
        font-size: 24px;
        margin: 0;
    }

    .content-header {
        display: flex;
        margin-top: 4px;

        .sub-info {
            margin-right: 16px;
            color: #455a64;
            font-size: 12px;
        }

        .hours {
            color: #607d8b;
            font-size: 10px;
        }
    }

    .btn-area {
        margin-top: 16px;

        .save {
            background-color: #00bcd4;
            color: #ffffff;
            border: none;
            border-radius: 8px;
            height: 34px;
            margin-right: 24px;
        }
    }
}
