<div class="item_details">
    <h1>Mid century sideboard</h1>
    <div class="content-header">
        <div class="sub-info">
            <span class="category">Home Goods</span>
            <span>.</span>
            <span class="condition">Line New</span>
        </div>
        <span class="hours">Listed 2hours ago</span>
    </div>

    <div class="btn-area">
        <button class="save">Save for later</button>
        <button class="collecyed">Mark as collected</button>
    </div>

    <div class="img"></div>

    <div class="description"></div>

    <div class="map"></div>

    <script src="./js/item_details.js" defer></script>
</div>
