<div id="notificationView">
    <div class="h1">
        <h1>Notifications</h1>
    </div>
    <main>
        <div class="block border">
            <p>The item <b>@item.title</b> that you had saved was deleted and removed from your Saved items.
            </p>
            <p class="time">20:13 · October 22, 2021
            </p>
        </div>

        <div class="block border">
            <p>The item <b>@item.title</b> that you have listed has been marked as collected and removed from your
                listings.
            </p>
            <p class="time">20:13 · October 22, 2021
            </p>
        </div>

        <div class="block border">
            <p>You saved <b>@item.title</b>.
            </p>
            <p class="time">20:13 · October 22, 2021
            </p>
        </div>
        <div class="block">
            <p>The item <b>@item.title</b> that you have saved was marked as collected and removed from your Saved
                items.
            </p>
            <p class="time">20:13 · October 22, 2021
            </p>
        </div>
    </main>

    <script src="./js/notification.js" defer></script>
</div>