@import '../../_variables.scss';
@import '../../_font_styles.scss';

#mainLogo {
    width: 94px;
    height: auto;
    align-self: center;
}

#btn {
    cursor: pointer;
}

body {
    margin: 0;

    #signInH1 {
        margin: 24px 0 32px 0;
    }

    main {
        padding: 0 24px;
        display: flex;
        // align-items: center;
        flex-direction: column;
    }

    .logo {
        height: 56px;
        border-bottom: #cfd8dc solid 1px;
        display: flex;
        justify-content: center;
    }
    h1 {
        // margin-left: 24px;
        // margin-top: 24px;
        font-size: 24px;
    }

    #login_form {
        // .container,
        // .btn {
        //     // margin: 32px 23px 0 25px;
        // }
        .pass p {
            margin: 4px 0 32px 0;
        }
        .pass #pass {
            margin-bottom: 0;
        }

        #btn {
            @include primaryBtn;
        }

        label,
        input {
            display: block;
        }

        label {
            font-size: 12px;
            margin-bottom: 4px;
        }

        input {
            width: 96%;
            height: 34px;
            border-radius: 8px;
            border: #90a4ae solid 1px;
            @include formInput;
            margin-bottom: 24px;

            @media screen and (min-width: 1000px) {
                width: 370px;
            }
        }

        div.btn input {
            background: #00bcd4;
            // border-color: #00bcd4;
        }

        input[value="Sign in"] {
            font-size: 12px;
            color: white;
        }

        .btn p {
            margin-top: 4px;
            text-align: center;
            span {
                font-weight: bold;
            }
            a {
                text-decoration: none;
            }
        }

        // div {
        //     // margin: 20px;
        // }

        div p {
            font-size: 10px;
        }

        .btn #btn {
            margin-bottom: 0;
        }
    }

    footer {
        height: 56px;
        border-top: 1px solid #cfd8dc;
        margin-top: 400px;

        p {
            text-align: center;
            margin: 21px 24px;
            font-size: 10px;
            color: #607d8b;
        }
    }
}

body #login_form #btn {
    width: 100%;

    @media screen and (min-width: 1000px) {
        width: 370px;
    }
}

@media screen and (min-width: 1000px) {
    #loginBody {
        align-items: center;
    }
}

