@import '../../_variables.scss';
@import '../../_font_styles.scss';

#mainLogo {
    width: 94px;
    height: auto;
    align-self: center;
}

#btn {
    cursor: pointer;
}

body {
    margin: 0;

    #signInH1 {
        margin: 24px 0 32px 0;
        align-self: self-start; 
    }

    main {
        padding: 0 24px;
        display: flex;
        flex-direction: column;

    }

    .logo {
        height: 56px;
        border-bottom: #cfd8dc solid 1px;
        display: flex;
        justify-content: center;
    }
    h1 {
        // margin-left: 24px;
        // margin-top: 24px;
        font-size: 24px;
    }

    #login_form {
        align-self: self-start;
        display: flex;
        flex-direction: column;
        width: 100%;

        .container, .btn {
            width: 400px;
            height: auto;
        }

        // .pass p {
        //     margin: 4px 0 32px 0;
        // }
        p {
            margin-bottom: 32px;
            margin-top: 2px;
            font-size: 10px;
        }

        #pass {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        #btn {
            @include primaryBtn;
            width: 100%;
        }

        label {
            font-size: 12px;
            margin-bottom: 4px;
            color: #263238;
        }

        input {
            // width: 100%;
            height: 34px;
            border-radius: 8px;
            border: #90a4ae solid 1px;
            @include formInput;
            margin-bottom: 24px;

            // @media screen and (min-width: 1000px) {
            //     width: 370px;
            // }
        }

        div.btn input {
            background: #00bcd4;
            // border-color: #00bcd4;
        }

        input[value="Sign in"] {
            font-size: 12px;
            color: white;
        }

        .btn p {
            margin-top: 4px;
            text-align: center;
            span {
                font-weight: bold;
            }
            a {
                text-decoration: none;
            }
        }

        div p {
            font-size: 10px;
        }

        .btn #btn {
            margin-bottom: 0;
        }

        .no-account {
            text-align: center;
            font-size: 10px;
            color: #263238;

            a {
                text-decoration: none;
                color: #263238;
            }
            span {
                font-weight: 600;

            }
        }
    }

    #loginFooter {
        // height: 56px;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #cfd8dc;
        
        p {
            text-align: center;
            margin: 21px 24px;
            font-size: 10px;
            color: #607d8b;
        }
    }
}

body #login_form #btn {
    width: 100%;
    margin-bottom: 0;

    // @media screen and (min-width: 1000px) {
    //     width: 370px;
    // }
}

@media screen and (min-width: 1000px) {
    #loginBody {
        align-items: center;
        margin: 0 25%;
        // width: 25%;
    }
}

