
<div class="home">
    <header class="logoTop">
        <img id='mainLogo' src="https://res.cloudinary.com/scave2021/image/upload/v1635194721/scave/scaveLogo_he3m5p.svg" alt="Scave Logo">
    </header>

    <section>
        <div class="homeImg"></div>
        <div>
            <h1 class="title">
            Scave - your virtual</br>
            donation platform
            </h1>
        </div>
        
        <h4 class="content">
            Donate your used items or find new ones that suits your needs - all in one place. Scave makes donating(and scavenging) used goods in your community simple and hassle-free with our location-based donation platform.
        </h4>
        
        
        <button class="joinbtn" id="joinbtn">Join Scave</button></br>
        
        <div class="signBtn">
        <div class="signin">
            <a href="login.html">Sign in</a>
        </div>
        </div>
    </section>

    <footer class="footer">
        <div class="copyright">
            Scave ∙ Magpic &copy;Copyright 2021. All rights reserved.
        </div>
    </footer>
    
    <script src="./js/home.js" defer></script>
</div>
