#addItem {
    display: flex;
    justify-content: center;
}

#listingContainer {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 0;
    max-width: 500px;

    h1 {
        margin: 0;
        padding: 0;
    }
}

#photoContainer {
    display: flex;
    border: 1px solid $grey2;
    border-radius: 8px;
    background: $white;
    height: 122px;
    margin: 32px 0;
    padding: 8px;
    max-width: 500px;
    
    h3, p {
        padding-left: 16px;
    }

    h3 {
        padding-top: 40px;
    }

    p {
        padding-bottom: 40px;
        padding-top: 4px;
    }

    .photoInsert {
        height: 106px;

        img {
            object-fit: cover;
            max-height: 100%;
            position: relative;
        }

        .imgClose {
            background: $white;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            height: 34px;
            width: 34px;
            background-image: url("https://res.cloudinary.com/scave2021/image/upload/v1635194651/scave/close_fefjnv.svg");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: center center;
        }
    }
}

#itemListing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    label {
        padding: 8px 0 8px 0;
        color: $grey5;
    }

    #itemLabel {
        padding-top: 0;
    }

    p {
        margin-bottom: 32px;
    }

    #location {
        margin-bottom: 16px;
    }
}

input, select {
    margin-bottom: 16px;
    @include formInput;
}

select {
    width: 100%;
    color: $grey2;
}

#description {
    border-radius: 8px;
    border: 1px solid $grey2;
    color: $grey2;
    padding-left: 8px;
    margin-bottom: 16px;
}

#add-item-btn {
    @include primaryBtn;
    margin-bottom: 8px;
}

#discard-item-btn {
    @include secondaryBtn;
}

::placeholder {
    color: $grey2;
    font: $body-text;
}