#addItem {
    display: flex;
    justify-content: center;
}

#listingContainer {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 0;
    max-width: 500px;

    h1 {
        margin: 0;
        padding: 0;
    }
}

#photoContainer {
    display: flex;
    border: 1px solid $grey2;
    border-radius: 8px;
    background: $white;
    height: 122px;
    margin: 32px 0;
    padding: 8px;
    max-width: 500px;
    justify-content: space-around;
    align-items: center;
    
    p {
        padding-left: 16px;
    }

    #photoContainerText {
        display: flex;
        flex-direction: column;
        display: none;
    }

    label#imgLabel {
        padding-top: 40px;
        padding-bottom: 0;
        border: none;
        margin-left: 16px;
        margin-bottom: 0;
    }

    p {
        padding-bottom: 40px;
        padding-top: 4px;
    }

    .photoInsert {
        padding: 36px 20px;
        // display: none;
        background: $grey1;
        margin: auto;
        border-radius: 8px;
        max-height: 200px;
        position: relative;

        img#insert1.insert {
            object-fit: cover;
            max-height: 100%;
            max-width: 100%;
            top: 20px;
            left: 0;
            position: absolute;
            z-index: 1;
            background: $white;
        }

        .imgClose, .imgAdd {
            background: $white;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            padding: 12px;
            height: 22px;
            width: 22px;
            z-index: 2;
        }
    }
}

#imgLabel {
    font-family: $font-family;
    font: $h3;
    border: none;
    background: $white;
}

.hide {
    display: none;
}

#itemListing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    label {
        padding: 8px 0 8px 0;
        color: $grey5;
    }

    #itemLabel {
        padding-top: 0;
    }

    p {
        margin-bottom: 32px;
    }

    #location {
        margin-bottom: 16px;
    }
}

input, select {
    margin-bottom: 16px;
    @include formInput;
}

select {
    width: 100%;
    color: $grey2;
}

#description {
    border-radius: 8px;
    border: 1px solid $grey2;
    color: $grey2;
    padding-left: 8px;
    margin-bottom: 16px;
}

#add-item-btn {
    @include primaryBtn;
    margin-bottom: 8px;
}

#discard-item-btn {
    @include secondaryBtn;
}

::placeholder, .select {
    color: $grey2;
    font: $body-text;
}