<div id="menu_account">

    <div>
        <h1 id="account">Account</h1>
    </div>

    <form method="post">
        <div class="container">
            <label for="acc_fName">First name</label>
            <input type="text" id="acc_fName" placeholder="John">
        </div>

        <div class="container">
            <label for="acc_lName">Last name</label>
            <input type="text" id="acc_lName" placeholder="Doe">
        </div>

        <div class="container">
            <label for="acc_email">Email</label>
            <input type="email" id="acc_email" placeholder="jondoe@mail.com">
        </div>

        <div class="container">
            <label for="acc_phone">Phone number</label>
            <input type="text" id="acc_phone" placeholder="(999) 999-9999">
        </div>

        <div class="container acc-btn">
            <input type="submit" value="Save changes" id="save-btn">
        </div>
    </form>


    <!-- Leave Confirmation -->
    <div class="popup is-show" id="js-popup">
        <div class="popup-inner">
            <div>
                <h3>Leave page?</h3>
                <p>You didn't save your changes yet. Are you sure you want to leave without saving?</p>
            </div>
            <div class="leave-btn" id="js-leave-btn">Leave</div>
            <div class="stay-btn" id="js-stay-btn">Keep editing</div>
        </div>
        <div class="black-background" id="js-black-bg"></div>
    </div>

    <button id="js-show-popup">Show Leave Confirmation</button>

    <script src="./js/menu_account.js" defer></script>
</div>