@import "../../_variables.scss";
@import "../../_font_styles.scss";
@import "../../_mixins.scss";

body {
    margin: 0;
}
#createAccountView {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;

    .header {
        text-align: center;
        padding: 24px 0;
        border-bottom: 1px solid $grey1;
        #logoSignup {
            width: 94px;
            height: auto;
        }
        
    }
    
    main {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        
        #signupH1 {
            margin-top: 24px;
            font-size: 24px;
            // width: 100vw;
            align-self: self-start;
        }
        form {
            align-self: self-start;
            display: flex;
            flex-direction: column;

            .container {
                display: flex;
                flex-direction: column;
            }

            label, input {
                width: 100%;
            }

            label {
                color: #263238;
                font-size: 12px;
                // margin-bottom: 4px;
                // margin-top: 30px;
                text-align: left;
                margin: 30px auto 4px auto;
            }

            input {
                max-width: 370px;
                height: 34px;
                border: #90a4ae solid 1px;
                border-radius: 8px;
                border: 1px solid #90A4AE;
                color: #90A4AE;
                padding-left: 8px;
                cursor: pointer;
                outline: none !important;
                // margin-bottom: 24px;
                margin: 0px auto 0px auto;
            }

            input:focus {
                border: 1px solid $primary;
            }

            input::placeholder {
                color: #90a4ae;
                font-size: 12px;
                padding: 7px auto 7px 15px;
            }

            .policy {
                width: 370px;
                // height: 36px;
                margin: 32px auto 32px auto;
                p {
                    font-size: 12px;
                    color: #263238;
                }
            }

            #signup-btn {
                border: none;
                background: #00bcd4;
                font-size: 12px;
                color: white;
                outline: none !important;

                &:hover {
                    background-color: $primary-variant-dark;
                }
            
                &:active {
                    background-color: $primary-variant-mid;
                }
            }
            .signup-btn p {
                font-size: 10px;
                color: #263238;
                margin: 4px auto 0 auto;
                width: 169px;
                height: 14px;
                span {
                    font-weight: bold;
                }
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            #wrongPass {
                color: red;
                font-weight: bold;
                font-size: 1.2rem;
                margin: 10px auto;
            }
        }
    }

    footer {
        border-top: 1px solid #cfd8dc;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 56px;

        p {
            text-align: center;
            margin-top: 21px auto;
            font-size: 10px;
            color: #607d8b;
        }
    }
}
