.btnMap {
    background: $white;
    border-radius: 8px;
    font: $small-text;
}

.mapOverlay {
    height: auto;
    width: auto;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
}

.viewBtn {
    background: $white;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
    border-radius: 8px;
    color: $grey5;
    width: 83px;
    height: 34px;
    text-align: center;
    margin: 12px 24px 12px 8px;

    h4 {
        margin: 0;
        padding: 8px;
    }

    svg {
        fill: $grey5;
        padding: 0;
        margin: 0;
        margin: 0 4px;
        max-width: 10px;
    }
}

.viewBtn:active {
    background: $grey4;

    h4 {
        color: $white;
    }

    svg {
        fill: $white;
    }
}

.filter {
    margin-left: 24px;
    display: flex;
    justify-content: center;

    h4 {
        padding: 8px 0 8px 8px;
    }
}

.mapView {
    margin-right: 0;
}


// Desktop

@media screen and (min-width: 1000px) {
    #map {
        width: 80%;
        float: right;
    }
}