<!-- Output div for map -->
<div id="map">
</div>
<div class="itemDisplayOverlay" id="itemDisplayOverlay">
    <div class="overlayDetails">
        <div class="overlayDetailsLeft">
            <h2 id="itemTitle"></h2>
            <div>
                <span id="itemCategory"></span>
                <span>|</span>
                <span id="itemCondition"></span>
            </div>
        </div>
        <div class="overlayDetailsRight">
            <h2 onclick="closeDetailsOverlay()">x</h2>
            <span id="itemDistance"></span>
        </div>
    </div>
    <img id="itemImage" src="" alt="itemImage">
</div>


<!-- Show map with current location -->
<div>
    <!-- Google maps API plugin with function callback  -->
    <script src="js/map.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9kUNFLXOEwSFaH5JedhaGV1MMKXxB50o&callback=initMap&initAutocomplete&libraries=places"></script>
</div>
