<!-- Output div for map -->
<div id="map">
    <div class="mapOverlay"></div>
</div>

<!-- Show map with current location -->
<div>
    <script>
        const goods = [
            {
                title: "Desk1",
                lat: 49.2837282522517,
                lng: -123.13221810895666,
                icon: "https://res.cloudinary.com/scave2021/image/upload/v1635198526/scave/Component_16_dlxaya.png",
                category: "Home Good",
                condition: "Like New",
                distance: "1200m"
            },
            {
                title: "Desk2",
                lat: 49.274321281824186,
                lng:  -123.14981339887272,
                icon: "https://res.cloudinary.com/scave2021/image/upload/v1635198526/scave/Component_16_dlxaya.png",
                category: "Home Good",
                condition: "Like New",
                distance: "1200m"
            },
            {
                title: "Desk3",
                lat: 49.266648793197206,
                lng: -123.10621141215385,
                icon: "https://res.cloudinary.com/scave2021/image/upload/v1635198526/scave/Component_16_dlxaya.png",
                category: "Home Good",
                condition: "Like New",
                distance: "1200m"
            }
        ];

        // Create List Button
        function addListView(buttonDiv, map) {
            const listUI = document.createElement("div");
            listUI.className = 'viewBtn';
            listUI.innerHTML = `<h4>List View</h4>`;
            buttonDiv.appendChild(listUI);
        
            listUI.addEventListener("click", () => {
            console.log('click');
            });
        };

        // Create Map Button
        function addMapView(buttonDiv, map) {
            const mapUI = document.createElement("div");
            mapUI.className = 'viewBtn mapView';
            mapUI.innerHTML = `<h4>Map View</h4>`;
            buttonDiv.appendChild(mapUI);
        
            mapUI.addEventListener("click", () => {
            console.log('click');
            });
        };

        // Create Filter Button
        function addFilter(buttonDiv, map) {
            const filterUI = document.createElement("div");
            filterUI.className = 'viewBtn filter'; 
            filterUI.innerHTML = `<h4>Filter</h4> <img src="https://res.cloudinary.com/scave2021/image/upload/v1635194653/scave/down_shsgxq.svg">`;
            buttonDiv.appendChild(filterUI);
        
            filterUI.addEventListener("click", () => {
            console.log('click');
            });
        };

        // initiate map var
        let map, i;

        // initiate map func
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                disableDefaultUI: true,
                zoom: 14,
            });

            // create map UI buttons from above funcs
            const listDiv = document.createElement("div");

            addListView(listDiv, map);
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(listDiv);

            const mapDiv = document.createElement("div");

            addMapView(mapDiv, map);
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(mapDiv);

            const filterDiv = document.createElement("div");

            addFilter(filterDiv, map);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(filterDiv);

            // load center of map based on user location
        window.addEventListener("load", () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                        map.setCenter(pos);
                    },
                    
                    () => {
                        handleLocationError(true, map.getCenter());
                    }
            );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, map.getCenter());
            }

            for (i = 0; i < goods.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(goods[i].lat, goods[i].lng),
                icon: goods[i].icon,
                title: goods[i].title,
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function() {
                // return function() {
                    console.log('click');
                // infowindow.setContent(goods[i].title);
                // infowindow.open(map, marker);
                // }
            }))
            }
        });
        }

        function handleLocationError(browserHasGeolocation, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation."
        );
            infoWindow.open(map);
        }
    </script>
    



    
    // <!-- Google maps API plugin with function callback  -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9kUNFLXOEwSFaH5JedhaGV1MMKXxB50o&callback=initMap"></script>
</div>
