<!-- Output div for map -->
<div id="map">
</div>
<div class="itemDisplayOverlay" id="itemDisplayOverlay">
    <div class="overlayDetails">
        <div class="overlayDetailsLeft">
            <h2 id="itemTitle"></h2>
            <div>
                <span id="itemCategory"></span>
                <span>|</span>
                <span id="itemCondition"></span>
            </div>
        </div>
        <div class="overlayDetailsRight">
            <img id="detailsClose" onclick="closeDetailsOverlay()" src="https://res.cloudinary.com/scave2021/image/upload/v1636394516/scave/close_fefjnv_afs81k.svg">
            <span id="itemDistance"></span>
        </div>
    </div>
    <img id="itemImage" src="" alt="itemImage">
</div>

<div id="filterOverlay">
    <div id="filterHeader">
        <h1>Filters</h1>
        <img src="https://res.cloudinary.com/scave2021/image/upload/v1636394516/scave/close_fefjnv_afs81k.svg" id="closeFilter">
    </div>

    <h2>Categories</h2>
        <div id="categoryFilters">
            <label class="filterBox">Home Goods
                <input type="checkbox" class="filterCheckbox" id="homeGoodsFilter">
                <span class="check"></span>
            </label>

            <label class="filterBox">Garden & Outdoor
                <input type="checkbox" class="filterCheckbox" id="gardenOutdoorFilter">
                <span class="check"></span>
            </label>

            <label class="filterBox">Recreation
                <input type="checkbox" class="filterCheckbox" id="recreationFilter">
                <span class="check"></span>
            </label>

            <label class="filterBox">Pet Supplies
                <input type="checkbox" class="filterCheckbox" id="petFilter">
                <span class="check"></span>
            </label>

            <label class="filterBox">Education
                <input type="checkbox" class="filterCheckbox" id="educationFilter">
                <span class="check"></span>
            </label>
        </div>

    <h2>Condition</h2>
        <div id="conditionFilters">
            <label class="filterBox">Like New
                <input type="checkbox" class="filterCheckbox" id="likeNewFilter">
                <span class="check"></span>
            </label>

            <label class="filterBox">Good
                <input type="checkbox" class="filterCheckbox" id="goodFilter">
                <span class="check"></span>
            </label>

            <label class="filterBox">Fair
                <input type="checkbox" class="filterCheckbox" id="fairFilter">
                <span class="check"></span>
            </label>

            <label class="filterBox">Damaged
                <input type="checkbox" class="filterCheckbox" id="damagedFilter">
                <span class="check"></span>
            </label>
        </div>
</div>


<!-- Show map with current location -->
<div>
    <!-- Google maps API plugin with function callback  -->
    <script src="js/map.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9kUNFLXOEwSFaH5JedhaGV1MMKXxB50o&callback=initMap&initAutocomplete&smallMap&libraries=places"></script>
</div>
