#onboarding {
  .onboardpopUp {
    z-index: 1000;
    background-color: #26323880;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }
  .onboard-container {
    position: absolute;
    width: 342px;
    height: 499px;
    background-color: white;
    border-radius: 8px;
    top: 20vh;
    .cardImg {
      display: flex;
      justify-content: center;
    }
    #cardImg {
      margin-top: 24px;
      width: 294px;
      height: 204px;
    }
    .onboard-info {
      margin: 0 24px;
      .info-title {
        margin-top: 31px;
        font-size: 16px;
        line-height: 20px;
        color: #263238;
      }
      .slideshow {
        margin-top: 17px;
      }

      .onboard-content {
        font-size: 12px;
        line-height: 18px;
        color: #455a64;
      }
      .onboard-content2 {
        margin-top: 17px;
        font-size: 10px;
        line-height: 14px;
        color: #455a64;
      }
    }
    .line {
      margin: 0 24px;
      border: 1px solid #cfd8dc;
    }
    .popBtn {
      height: 34px;
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 12px;
      line-height: 18px;
      margin: 8px 0;

      a {
        text-decoration: none;
      }
    }
  }
}
.slideshow {
  position: relative;
}
.slides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 146px;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #cfd8dc;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  position: absolute;
  border-radius: 3px 0 0 3px;
  right: 1px;
}
prev:hover,
.next:hover {
  color: #90a4ae;
}
.dot-container {
  text-align: center;
  margin: 20px 0;
}
.dot,
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #cfd8dc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #90a4ae;
}
