<div id="onboarding">
    <div class="popUp" id="popUp">
        <div class="onboard-container">
            <div class="onboard-info">
                <div class="cardImg">
                <img id='cardImg' src="https://res.cloudinary.com/scave2021/image/upload/v1635474174/scave/illustration_e7eoev.png" alt="scave img">
                </div>
                <h3>Welcome to Scave!</h3>
                <span class="content">
                    Donators list the items they want to donate and then the items are pinned to the map for scavengers to find and collect.
                </span>
                <span class="content2">
                    Anyone can remove an item from the map by marking it as collected. If an item isn’t claimed within 7 days it is automatically deleted. Don’t worry, you can always repost!
                </span>
                <div class="line"></div>
                <div class="popBtn">
                    <a class="gotItbtn" id="gotItbtn" href="#">Got it</a>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="./js/onboarding.js"></script>