<div id="onboarding">
    <div class="onboardpopUp" id="onboardpopUp">
        <div class="onboard-container">
            <div class="cardImg">
                <img id='cardImg' src="https://res.cloudinary.com/scave2021/image/upload/v1635474174/scave/illustration_e7eoev.png" alt="scave img">
            </div>
            
            <div class="onboard-info">
                <h3 class="info-title">Welcome to Scave!</h3>
                <div class="slideshow">
                    <div class="slides">
                        <span class="onboard-content">
                            Donators list the items they want to donate and then the items are pinned to the map for scavengers to find and collect.
                        </span></br>
                        <span class="onboard-content2">
                            Anyone can remove an item from the map by marking it as collected. If an item isn’t claimed within 7 days it is automatically deleted. Don’t worry, you can always repost!
                        </span>
                    </div>
                    <div class="slides">
                        <span class="onboard-content">
                            Collectors search items nearby and navigate to collect them. When a item is collected, mark as claimed to remove from the map.
                        </span></br>
                        <span class="onboard-content2">
                            Scave cannot guarantee the condition or availability of items that are posted, we are just here to help you track them down.
                        </span>

                    </div>
                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>
                    <section class="dot-container">
                        <span class="dot1"></span>
                        <span class="dot2"></span>
                    </section>
            </div>
            <div class="line"></div>
            <div class="popBtn">
                <a class="gotItbtn" id="gotItbtn" href="#">Got it</a>
            </div>
        </div>

    </div>

</div>
<script src="./js/onboarding.js"></script>