@import "_mixins.scss";

body {
    font: $body-text;
    color: $grey5;
}

h1 {
    font: $h1;
    color: $grey5;
}

h2 {
    font: $h2;
    color: $grey5;
}

h3 {
    font: $h3;
    color: $grey5;
}

.menuLink {
    font: $h3-light;
    color: $grey5;
}

h4, button {
    font: $h4;
    color: $grey5;
}

input, select {
    color: $grey2;
    font: $body-text;
    outline: none !important;
    @include formInput;
}

label, textarea {
    font: $body-text;
    color: $grey5;
    cursor: pointer;
}