body {
    font: $body-text;
    color: $black;
}

h1 {
    font: $h1;
    color: $black;
}

h2 {
    font: $h2;
    color: $black;
}

h3 {
    font: $h3;
    color: $black;
}

h4 {
    font: $h4;
    color: $black;
}

input, select, label {
    font: $body-text;
    color: $black;
}