@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


// Font and Type Variabless

$font-family: 'Poppins', sans-serif;

$h1: normal 600 24px/28px $font-family;
$h2: normal 600 20px/24px $font-family;
$h3: normal 600 16px/20px $font-family;
$h4: normal 600 12px/18px $font-family;
$body-text: normal 400 12px/18px $font-family;
$small-text: normal 400 10px/14px $font-family;

// Color Variables

$primary: #00BCD4; // main color
$primary-variant-mid: #0097A7; // darker variant
$primary-variant-dark: #006064; // darkest variant 

$error-color: #FF5722; // error screens and buttons

$grey5:#263238; // darkest grey
$grey4:#455A64;
$grey3:#607D8B; // medium grey
$grey2:#90A4AE;
$grey1:#CFD8DC; // lightest grey

$white:#ffffff; // light text color