@import '_variables.scss';
@import '_font_styles.scss';
@import 'app/components/listing/list';
@import 'app/components/map/map';
@import 'app/components/header/header';
@import 'app/components/menu/notification/notification.scss';
@import 'app/components/menu/notification/empty.scss';
@import 'src/app/login/login.scss';
@import 'src/app/components/home/home.scss';
@import 'src/app/components/item_details/item_details.scss';
@import 'src/app/components/menu/account/menu_account.scss';
@import 'src/app/create_account/create_account.scss';

html, body {
    height: 100%;
    background-color: $white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex-grow: 1;
}