<div id="menu_listing">
    <div class="listingTitle">
        <h1 class="yourListing">Your listings</h1>
    </div>
    <div class="list-container">

    </div>
    <div class="popUp" id="popUp">
        <div class="popCard">
            <div class="deleteCard">
                <div class="deleteInfo">
                    <h3>Delete listing?</h3>
                    <span class="deleteMsg">
                        Deleting this listing will also remove it from the Saved items page for other users.</span>
                </div>
            </div>
            <div class="line"></div>
            <div class="popButton">
                <div class="popBtn1">
                    <button id="popDelete" class="popDelete">Delete</button>
                </div>
                <div class="popBtn2">
                    <a class="cancelBtn" id="cancelBtn" href="#">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/menu_listing.js" defer></script>
